:root {
  --maya-blue-light: #79bdee6c;
}

.parte path{
    transition: fill 0.3s ease;
}

.parte:hover path {
    fill: var(--maya-blue-light) !important;
}

.cls-1  {
    fill: #fff;
}