:root {
  --oxford-blue: #011936;
  --olivine: #9fc490;
  --jordy-blue: #84afe6;
  --maya-blue: #79beee;
}

/* Fondo y color general */
body {
  background-color: white;
  color: black;
}

/* Navbar personalizada */
.navbar {
  background-color: var(--jordy-blue) !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: var(--olivine) !important;
}

.navbar .nav-link {
  color: black !important;
}

/* Footer personalizado */
footer {
  background-color: var(--jordy-blue) !important;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--olivine);
  text-decoration: underline;
}

footer h5 {
  color: black;
}
.bg-img-login {
  background-image: url('img/running.png');
  background-size: cover;
  background-position: center;
}
#userDropdown {
  display: none;
}
#loginBtn {
  display: flex;
}

