:root {
  --oxford-blue: #011936;
  --olivine: #9fc490;
  --jordy-blue: #84afe6;
  --maya-blue: #79beee;
}

/* Fondo y color general */
body {
  background-color: white;
  color: black;
}

.btn.btn-primary {
  --bs-btn-bg: var(--jordy-blue);
  --bs-btn-border-color: var(--jordy-blue);
  --bs-btn-hover-bg: var(--olivine);
  --bs-btn-hover-border-color: var(--olivine);
}

/* Navbar personalizada */
.navbar {
  background-color: var(--maya-blue) !important;
}

/* Footer personalizado */
footer {
  background-color: var(--maya-blue) !important;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--olivine);
  text-decoration: underline;
}

footer h5 {
  color: black;
}
.bg-img-login {
  background-image: url('img/running.png');
  background-size: cover;
  background-position: center;
}
#userDropdown {
  display: none;
}
#loginBtn {
  display: flex;
}
.color{
  color: var(--maya-blue);
}