/* Footer personalizado */
footer {
  background-color: var(--maya-blue) !important;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--olivine);
  text-decoration: underline;
}

footer h5 {
  color: black;
}
