:root {
  --oxford-blue: #011936;
  --olivine: #9fc490;
  --jordy-blue: #84afe6;
  --maya-blue: #79beee;
}

/* Títulos */
h1,
h2,
h5 {
  color: var(--maya-blue);
}

.bg-body-tertiary {
  background-color: #79beee !important; /* También correcto, pero sin usar la variable */
}

.promo-section {
  background-color: #011936ff; /* oxford blue */
  min-height: 500px;
  padding: 60px 0;
}

.promo-image {
  background-image: url('../Multimedia/Inicio/personal_trainer.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
}

.col-md-6 img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para la animación */
}

.col-md-6 img:hover {
    transform: scale(1.05); /* Agranda la imagen un 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más grande y oscura */
}

#userDropdown {
  display: none;
}
#loginBtn {
  display: flex;
}

/* Animación para las tarjetas de noticias */
.card {
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Ligeramente hacia abajo */
    animation: fadeInSlideUp 0.6s ease-out forwards; /* Aplicar la animación */
}

/* Define la animación keyframes */
@keyframes fadeInSlideUp {
    to {
        opacity: 1; /* Completamente visible */
        transform: translateY(0); /* Posición original */
    }
}

