@import url(/css/nosotros.css);
:root {
  --oxford-blue: #011936;
  --olivine: #9fc490;
  --jordy-blue: #84afe6;
  --maya-blue: #79beee;
}

/* Fondo y color general */
body {
  background-color: white;
  color: black;
}

/* Navbar personalizada */
.navbar {
  background-color: var(--maya-blue) !important;
}

#userDropdown {
  display: none;
}
#loginBtn {
  display: flex;
}
